<% content_for :title, "New post" %>

<h1>New post</h1>

<%= render "form", post: @post %>

<%= link_to 'New post', new_post_path, class: 'btn btn-success mb-3' %>


<br>

<div>
  <%= link_to "Back to posts", posts_path %>
</div>
